[Desktop Entry]
Type=Link
Name=SSUMP
Icon=/home/mustafahamim/Desktop/SSUMP/Phone_GUI.png
URL=/home/mustafahamim/.local/share/applications/alacarte-made-3.desktop
StartupNotify=false
